{% extends "base.html" %}
{% load static %}



{% block titulo %}
<title>Pre entrega 3 | Cesar Peraza</title>
{% endblock titulo %}


{% block contenido %}

    <header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Pre Entrega 3<br> Creative Design</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Pre Entrega 3 <br> Responsive Design</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title"> Pre Entrega 3 <br> Simple Design</h1>
                        </div>
                    </div>
                </div>
            </div>        
        </div>


    </header>


    {% endblock contenido %}